* {
    font-family: "Yatra One", system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

body {
    background-color: #faf6f6;
    height: 100vh;
}

/* CABEÇALHO - INICIO */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 1px 10px rgb(201, 201, 201);
}
header h1 {
    margin: 0px 20px;
}
header .img-titulo {
    height: 80px;
}
/* CABEÇALHO - FIM */

.container {
    margin: 40px auto 0 auto;
    max-width: 1024px;
    text-align: center;
}

.container img {
    height: 250px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    /* gap: 10px; */
    margin-top: 20px;
}
.sub-container table {
    border: 5px solid rgb(201, 150, 57);
    border-radius: 0px;
}
.sub-container table th, td {
    padding: 2px 15px;
    /* border: 1px solid rgb(207, 156, 62); */
    border-radius: 10px;
}
.sub-container .icone-chances{
    height: 10px;
    margin: 0 1px 0 1px;
}

.container-btn {
    width: fit-content;
    margin: 0 auto;
}
.container-btn div {
    margin: 2px;
}
.container-btn button {
    width: 30px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
    color: white;
    transition: all 0.3s;
}
.container-btn button:hover {
    background-color: rgb(194, 194, 194);
    color: rgb(34, 34, 34);
}
